<script id="searchbox.tpl.html" type="text/ng-template">
    <input type="text" class="google-autocomplete-searchbox" placeholder="Type your address">
</script>

<div class="container-fluid container-fullw bg-white" ng-controller="UpdateGrabCtrl">
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group-justified">
                <span class="btn btn-sm btn-wide btn-primary" class="btn-o">
                    <i class="fa" ng-class="GrabData.grab.types[2].icon"></i>
                    <span class="hidden-xs">{{GrabData.grab.types[2].label_fr}}</span>
                </span>
            </div>
        </div>

        <hr>

        <div class="col-md-12">
            <form name="updateGrabForm" ng-submit="submitUpdateGrabForm($event)" novalidate>
                <div class="form-group">
                    <label class="block">
                        {{ 'grabee_grabs_type' | translate }}
                    </label>
                    <div class="btn-group">
                        <span class="btn"
                              ng-class="{'btn-primary ': Grab.grabtype == 'garbage', 'btn-default': Grab.grabtype !== 'garbage'}"
                              ng-click="Grab.grabtype = 'garbage';">
                            {{ 'grab_create_grab_garbage' | translate }}
                        </span>
                        <span class="btn"
                              ng-class="{'btn-primary ': Grab.grabtype == 'recycling', 'btn-default': Grab.grabtype !== 'recycling'}"
                              ng-click="Grab.grabtype = 'recycling';">
                            {{ 'grab_create_grab_recycling' | translate }}
                        </span>
                        <span class="btn"
                              ng-class="{'btn-primary ': Grab.grabtype == 'yardwaste', 'btn-default': Grab.grabtype !== 'yardwaste'}"
                              ng-click="Grab.grabtype = 'yardwaste';">
                            {{ 'grab_create_grab_yardwaste' | translate }}</span>
                        <span class="btn"
                              ng-class="{'btn-primary ': Grab.grabtype == 'organic', 'btn-default': Grab.grabtype !== 'organic'}"
                              ng-click="Grab.grabtype = 'organic';">
                            {{ 'grab_create_grab_organic' | translate }}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="block">
                        {{ 'grab_create_grab_numberbins' | translate }} *
                    </label>
                    <div class="btn-group">
                        <span class="btn" ng-class="{'btn-primary ': Grab.bins == 1, 'btn-default': Grab.bins !== 1}"
                              ng-click="Grab.bins = '1';">
                            <img style="width:30px;" src="img/pickup.png">
                        </span>
                        <span class="btn" ng-class="{'btn-primary ': Grab.bins == 2, 'btn-default': Grab.bins !== 2}"
                              ng-click="Grab.bins = '2';">
                            <img style="width:30px;" src="img/pickup.png">
                            <img style="width:30px;" src="img/pickup.png">
                        </span>
                        <a class="btn" ng-class="{'btn-primary ': Grab.bins == 3, 'btn-default': Grab.bins !== 3}"
                           ui-sref="app.grab.create_grab">
                            <img style="width:30px;" src="img/pickup.png">
                            <img style="width:30px;" src="img/pickup.png">
                            <span class="text-large">+</span>
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        {{ 'grab_create_grab_address' | translate }}
                    </label>
                    <div class="clip-radio radio-primary">
                        <input type="radio" id="us-female" name="addressSameAsProfile" ng-value="true" checked="checked"
                               ng-model="AddressSameAsProfile">
                        <label for="us-female">
                            {{ 'grab_create_grab_sameProfile' | translate }}
                        </label>
                        <input type="radio" id="us-male" name="addressSameAsProfile" ng-value="false"
                               ng-model="AddressSameAsProfile">
                        <label for="us-male">
                            {{ 'grab_create_grab_differentAddress' | translate }}
                        </label>
                    </div>
                </div>
                <div ng-if="!AddressSameAsProfile" class="form-group" ng-class="{'has-error': (updateGrabForm.addressID.$dirty && updateGrabForm.addressID.$invalid)}">
                    <label class="control-label" for="address-id">
                        Select existing address
                    </label>
                    <select id="address-id"
                            name="addressID"
                            class="form-control"
                            ng-model="Grab.addressID"
                            ng-options="UserAddress as UserAddress.name for UserAddress in UserAddresses track by UserAddress.ID"
                            required>
                        <option value='' disabled>
                            Select
                        </option>
                    </select>

                    <p class="help-block" ng-show="(updateGrabForm.addressID.$dirty && updateGrabForm.addressID.$invalid)">
                        <span class="error-message" ng-show="updateGrabForm.addressID.$error.required">
                            Existing address is required
                        </span>
                    </p>
                </div>
                <div ng-if="!AddressSameAsProfile">
                    <ng-form isolated-form name="newUserAddressForm" class="form-register" novalidate>
                        <div class="form-group" ng-class="{'has-error': (newUserAddressForm.name.$dirty && newUserAddressForm.name.$invalid)}">
                            <label class="control-label">
                                Add new address
                            </label>

                            <input type="text" class="form-control" name="name" ng-model="NewUserAddress.name" required placeholder="Name">

                            <p class="help-block" ng-show="(newUserAddressForm.name.$dirty && newUserAddressForm.name.$invalid)">
                                <span class="error-message" ng-show="newUserAddressForm.name.$error.required">
                                    Address name is required
                                </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <ui-gmap-google-map center="map.center"
                                                zoom="map.zoom"
                                                control='map.control'
                                                options="map.options">

                                <ui-gmap-search-box template="searchBox.template"
                                                    events="searchBox.events"
                                                    options="searchBox.options"
                                                    position="'top-center'"></ui-gmap-search-box>

                                <ui-gmap-marker ng-if="marker.coords.latitude && marker.coords.longitude"
                                                coords="marker.coords"
                                                idkey="marker.id"></ui-gmap-marker>
                            </ui-gmap-google-map>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (newUserAddressForm.address.$dirty && newUserAddressForm.address.$invalid)}">
                            <input type="text" class="form-control" name="address" ng-model="NewUserAddress.address" ng-readonly="true" required placeholder="Street">

                            <p class="help-block" ng-show="(newUserAddressForm.address.$dirty && newUserAddressForm.address.$invalid)">
                                <span class="error-message" ng-show="newUserAddressForm.address.$error.required">
                                    Address name is required
                                </span>
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{'has-error': (newUserAddressForm.zipcode.$dirty && newUserAddressForm.zipcode.$invalid)}">
                                    <input class="form-control" type="text" name="zipcode" ng-model="NewUserAddress.zipcode" ng-readonly="true" placeholder="Postal code">

                                    <p class="help-block" ng-show="(newUserAddressForm.zipcode.$dirty && newUserAddressForm.zipcode.$invalid)">
                                        <span class="error-message" ng-show="newUserAddressForm.zipcode.$error.required">
                                            Zip Code is required
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group" ng-class="{'has-error': (newUserAddressForm.city.$dirty && newUserAddressForm.city.$invalid)}">
                                    <input class="form-control" type="text" name="city" ng-model="NewUserAddress.city" ng-readonly="true" required placeholder="City">

                                    <p class="help-block" ng-show="(newUserAddressForm.city.$dirty && newUserAddressForm.city.$invalid)">
                                        <span class="error-message" ng-show="newUserAddressForm.city.$error.required">
                                            City is required
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (newUserAddressForm.region.$dirty && newUserAddressForm.region.$invalid)}">
                            <input class="form-control" type="text" name="region" ng-model="NewUserAddress.region" ng-readonly="true" required placeholder="Region">

                            <p class="help-block" ng-show="(newUserAddressForm.region.$dirty && newUserAddressForm.region.$invalid)">
                                <span class="error-message" ng-show="newUserAddressForm.region.$error.required">
                                    Region is required
                                </span>
                            </p>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (newUserAddressForm.country.$dirty && newUserAddressForm.country.$invalid)}">
                            <input class="form-control" type="text" name="country" ng-model="NewUserAddress.country" ng-readonly="true" required placeholder="Country">

                            <p class="help-block" ng-show="(newUserAddressForm.country.$dirty && newUserAddressForm.country.$invalid)">
                                <span class="error-message" ng-show="newUserAddressForm.country.$error.required">
                                    Country is required
                                </span>
                            </p>
                        </div>
                        <div class="form-actions">
                            <div class="margin-bottom-15">
                                <button type="button" class="btn btn-primary" ng-disabled="newUserAddressSubmitting" ng-click="submitNewUserAddressForm($event)">
                                    Add new address
                                </button>
                            </div>
                        </div>
                    </ng-form>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        {{ 'grab_create_grab_availability' | translate }}
                    </label>
                    <div class="clip-radio radio-primary">
                        <input type="radio" name="rightAway" id="available" ng-value="true" ng-model="rightAway">
                        <label for="available">
                            {{ 'grab_create_grab_rightAway' | translate }}
                        </label>
                        <input type="radio" name="rightAway" id="not-available" ng-value="false" ng-model="rightAway">
                        <label for="not-available">
                            {{ 'grab_create_grab_setDates' | translate }}
                        </label>
                    </div>
                </div>
                <div>
                    <div class="clearfix" ng-if="!rightAway">
                        <div class="form-group pull-left margin-right-10" ng-controller="DatepickerDemoCtrl">
                            <label class="control-label">
                                {{ 'grab_create_grab_date' | translate }}
                            </label>
                            <div>
                                <button type="button"
                                        class="btn btn-primary"
                                        uib-datepicker-popup="{{format}}"
                                        popup-placement="top-left"
                                        ng-model="NewGrabSchedule.date"
                                        min-date="minDate"
                                        max-date="maxDate"
                                        is-open="opened"
                                        datepicker-options="dateOptions"
                                        date-disabled="disabled(date, mode)"
                                        ng-required="true"
                                        close-text="Close"
                                        ng-click="open($event)">
                                    <i class="glyphicon glyphicon-calendar"></i> {{NewGrabSchedule.date | date:'MM/dd/yyyy' }}
                                </button>
                            </div>
                        </div>
                        <div class="form-group pull-left" style="margin-right:10px;">
                            <label class="control-label">
                                {{ 'grab_create_grab_time' | translate }}
                            </label>
                            <p>
                                <span class="btn-group">
                                    <span class="btn"
                                          ng-class="{'btn-primary ': NewGrabSchedule.time == 'morning', 'btn-default': NewGrabSchedule.time !== 'morning'}"
                                          ng-click="NewGrabSchedule.time = 'morning';">
                                        {{ 'grab_create_grab_time_morning' | translate }}
                                    </span>
                                    <span class="btn"
                                          ng-class="{'btn-primary ': NewGrabSchedule.time == 'afternoon', 'btn-default': NewGrabSchedule.time !== 'afternoon'}"
                                          ng-click="NewGrabSchedule.time = 'afternoon';">
                                        {{ 'grab_create_grab_time_afternoon' | translate }}
                                    </span>
                                    <span class="btn"
                                          ng-class="{'btn-primary ': NewGrabSchedule.time == 'evening', 'btn-default': NewGrabSchedule.time !== 'evening'}"
                                          ng-click="NewGrabSchedule.time = 'evening';">
                                        {{ 'grab_create_grab_time_night' | translate }}
                                    </span>
                                </span>
                            </p>
                        </div>
                        <div class="form-group pull-left" style="margin-right:10px;">
                            <label class="control-label">
                                {{ 'grab_create_grab_actions' | translate }}
                            </label>
                            <p>
                                <span class="btn-group">
                                    <span class="btn btn-primary" ng-click="addGrabSchedule()">{{ 'grab_create_grab_actions_save' | translate }}</span>
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="clearfix" ng-repeat="GrabSchedule in GrabSchedules">
                        <div class="form-group pull-left" style="margin-right:10px;">
                            <p>
								<span class="btn-group">
									<span class="btn btn-primary btn-o">
										<i class="glyphicon glyphicon-calendar"></i> {{GrabSchedule.date | date:'MM/dd/yyyy' }}
									</span>
								</span>
                            </p>
                        </div>
                        <div class="form-group pull-left" style="margin-right:10px;">
                            <p>
								<span class="btn-group">
									<span class="btn"
                                          ng-class="{'btn-primary ': GrabSchedule.time == 'morning', 'btn-default': GrabSchedule.time !== 'morning'}">
										{{ 'grab_create_grab_time_morning' | translate }}
									</span>
									<span class="btn"
                                          ng-class="{'btn-primary ': GrabSchedule.time == 'afternoon', 'btn-default': GrabSchedule.time !== 'afternoon'}">
										{{ 'grab_create_grab_time_afternoon' | translate }}
									</span>
									<span class="btn"
                                          ng-class="{'btn-primary ': GrabSchedule.time == 'evening', 'btn-default': GrabSchedule.time !== 'evening'}">
										{{ 'grab_create_grab_time_night' | translate }}
									</span>
								</span>
                            </p>
                        </div>
                        <div class="form-group pull-left" ng-if="!rightAway" style="margin-right:10px;">
                            <p>
								<span class="btn-group">
									<span class="btn btn-danger" ng-click="deleteGrabSchedule(GrabSchedule)">{{ 'grab_create_grab_actions_delete' | translate }}</span>
								</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="btn-group-justified">
                    <button type="submit"
                            class="btn btn-sm btn-wide btn-primary"
                            style="width: 33%;"
                            ng-disabled="grabSubmitting"
                            translate="grab_create_grab_actions_save">
                    </button>

                    <button type="button"
                            class="btn btn-sm btn-wide btn-danger"
                            style="width: 33%;"
                            ng-click="cancelUpdateGrab()"
                            translate="grab_create_grab_actions_cancel">
                    </button>

                    <button type="submit"
                            class="btn btn-sm btn-wide btn-success"
                            style="width: 33%;"
                            ng-if="Grab.status == 'draft'"
                            ng-disabled="grabSubmitting"
                            ng-click="publishGrub()"
                            translate="grab_create_grab_actions_publish">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
