<!-- start: DASHBOARD TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle" translate="grabee_dashboard_title">Welcome to GRAB</h1>
			<span class="mainDescription" translate="grabee_dashboard_welcome">This is the dashboard page.</span>
		</div>
	</div>
</section>
<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-md-12">
			<div class="row space20">
				<div class="col-xs-12 col-sm-6">
					<button ui-sref="app.grab.create_grab" class="btn btn-primary btn-icon margin-bottom-5 margin-bottom-5 btn-block">
						<img style="width: 45px;" src="/img/grab.png"/>
						<span translate="grabee_dashboard_newGrab">I want to get rid of...</span>
					</button>
				</div>
				<div class="col-xs-12 col-sm-6">
					<button ui-sref="app.grab.create_container" class="btn btn-primary btn-icon margin-bottom-5 margin-bottom-5 btn-block">
						<img style="width: 45px;" src="/img/container.png"/>
						<span translate="grabee_dashboard_container">Container</span>
					</button>
				</div>
				<div class="col-xs-12 col-sm-6">
					<button ui-sref="app.grab.create_pickup" class="btn btn-primary btn-icon margin-bottom-5 margin-bottom-5 btn-block">
						<img style="width: 45px;" src="/img/pickup2.png"/>
						<span translate="grabee_dashboard_missedPickup">Missed Pickup</span>
					</button>
				</div>
				<div class="col-xs-12 col-sm-6">
					<button ui-sref="app.calendar" class="btn btn-primary btn-icon margin-bottom-5 margin-bottom-5 btn-block">
						<img style="width: 45px;" src="/img/calendar.png"/>
						<span translate="grabee_dashboard_calendar">Calendar</span>
					</button>
				</div>
				<div class="col-xs-12 col-sm-6">
					<button ui-sref="app.settings.password" class="btn btn-primary btn-icon margin-bottom-5 margin-bottom-5 btn-block">
						<img style="width: 45px;" src="/img/settings.png"/>
						<span translate="grabee_dashboard_settings">Settings</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>