<script id="searchbox.tpl.html" type="text/ng-template">
    <input type="text" class="google-autocomplete-searchbox" placeholder="Type your address">
</script>

<div class="container-fluid container-fullw bg-white" ng-controller="CreateGrabCtrl">
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group-justified">
                <a class="btn btn-sm btn-wide btn-primary" ng-class="{'btn-o' : Grab.type !== grabType.value}"
                   ng-repeat="grabType in GrabData.grab.types" ui-sref="{{grabType.sref}}">
                    <i class="fa" ng-class="grabType.icon"></i>
                    <span class="hidden-xs">{{language.selected == 'English' ? grabType.label_en : grabType.label_fr}}</span>
                </a>
            </div>
        </div>

        <hr>

        <div class="col-md-12">
            <form name="createGrabForm" ng-submit="submitCreateGrabForm($event)" novalidate>
                <div class="form-group">
                    <label class="block">
                        {{ 'grabee_grabs_type' | translate }}
                    </label>
                    <div class="btn-group">
                        <span class="btn"
                              ng-class="{'btn-primary ': Grab.grabtype == 'garbage', 'btn-default': Grab.grabtype !== 'garbage'}"
                              ng-click="Grab.grabtype = 'garbage';">
                            {{ 'grab_create_grab_garbage' | translate }}
                        </span>
                        <span class="btn"
                              ng-class="{'btn-primary ': Grab.grabtype == 'recycling', 'btn-default': Grab.grabtype !== 'recycling'}"
                              ng-click="Grab.grabtype = 'recycling';">
                            {{ 'grab_create_grab_recycling' | translate }}
                        </span>
                        <span class="btn"
                              ng-class="{'btn-primary ': Grab.grabtype == 'yardwaste', 'btn-default': Grab.grabtype !== 'yardwaste'}"
                              ng-click="Grab.grabtype = 'yardwaste';">
                            {{ 'grab_create_grab_yardwaste' | translate }}</span>
                        <span class="btn"
                              ng-class="{'btn-primary ': Grab.grabtype == 'organic', 'btn-default': Grab.grabtype !== 'organic'}"
                              ng-click="Grab.grabtype = 'organic';">
                            {{ 'grab_create_grab_organic' | translate }}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="block">
                        {{ 'grab_create_grab_numberbins' | translate }} *
                    </label>
                    <div class="btn-group">
                        <span class="btn" ng-class="{'btn-primary ': Grab.bins == 1, 'btn-default': Grab.bins !== 1}"
                              ng-click="Grab.bins = '1';">
                            <img style="width:30px;" src="img/pickup.png">
                        </span>
                        <span class="btn" ng-class="{'btn-primary ': Grab.bins == 2, 'btn-default': Grab.bins !== 2}"
                              ng-click="Grab.bins = '2';">
                            <img style="width:30px;" src="img/pickup.png">
                            <img style="width:30px;" src="img/pickup.png">
                        </span>
                        <a class="btn" ng-class="{'btn-primary ': Grab.bins == 3, 'btn-default': Grab.bins !== 3}"
                           ui-sref="app.grab.create_grab">
                            <img style="width:30px;" src="img/pickup.png">
                            <img style="width:30px;" src="img/pickup.png">
                            <span class="text-large">+</span>
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        {{ 'grab_create_grab_address' | translate }}
                    </label>
                    <div class="clip-radio radio-primary">
                        <input type="radio" id="us-female" name="addressSameAsProfile" ng-value="true" checked="checked"
                               ng-model="AddressSameAsProfile">
                        <label for="us-female">
                            {{ 'grab_create_grab_sameProfile' | translate }}
                        </label>
                        <input type="radio" id="us-male" name="addressSameAsProfile" ng-value="false"
                               ng-model="AddressSameAsProfile">
                        <label for="us-male">
                            {{ 'grab_create_grab_differentAddress' | translate }}
                        </label>
                    </div>
                </div>
                <div ng-if="AddressSameAsProfile">
                    <div class="form-group" ng-class="{'has-error': (createGrabForm.addressID.$dirty && createGrabForm.addressID.$invalid)}">
                        <label class="control-label" for="address-id">
                            {{'grab_create_grab_existingAddress' | translate}}
                        </label>
                        <select id="address-id"
                                name="addressID"
                                ng-model="Grab.addressID"
                                ng-options="UserAddress as UserAddress.name for UserAddress in UserAddresses track by UserAddress.ID"
                                class="form-control">
                            <option value=''>
                                {{'grab_create_grab_profileAddress' | translate}}
                            </option>
                        </select>

                        <p class="help-block" ng-show="(createGrabForm.addressID.$dirty && createGrabForm.addressID.$invalid)">
                            <span class="error-message" ng-show="createGrabForm.addressID.$error.required">
                                {{'grab_create_grab_addressRequired' | translate}}
                            </span>
                        </p>
                        <div id="adressInProfile">
                            <p>{{Grab.addressID.address}}</p>
                            <p>{{Grab.addressID.zipcode}}</p>
                            <p>{{Grab.addressID.city}}</p>
                            <p>{{Grab.addressID.region}}</p>
                            <p>{{Grab.addressID.country}}</p>
                        </div>
                        <div data-ng-show="!Grab.addressID.address">
                            <p>{{Client.address}}</p>
                            <p>{{Client.zipcode}}</p>
                            <p>{{Client.city}}</p>
                            <p>{{Client.region}}</p>
                            <p>{{Client.country}}</p>
                        </div>
                    </div>
                </div>
                <div ng-if="!AddressSameAsProfile">
                    <ng-form isolated-form name="newUserAddressForm" class="form-register" novalidate>
                        <div class="form-group" ng-class="{'has-error': (newUserAddressForm.name.$dirty && newUserAddressForm.name.$invalid)}">
                            <label class="control-label">
                                {{'grab_create_grab_addNewAddress' | translate}}
                            </label>

                            <input type="text" class="form-control" name="name" ng-model="NewUserAddress.name" required placeholder="{{'grab_completed_grabber_name' | translate}}">

                            <p class="help-block" ng-show="(newUserAddressForm.name.$dirty && newUserAddressForm.name.$invalid)">
                                <span class="error-message" ng-show="newUserAddressForm.name.$error.required">
                                    {{'login_registration_address_is_required' | translate}}
                                </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <ui-gmap-google-map center="map.center"
                                                zoom="map.zoom"
                                                control='map.control'
                                                options="map.options">

                                <ui-gmap-search-box template="searchBox.template"
                                                    events="searchBox.events"
                                                    options="searchBox.options"
                                                    position="'top-center'"></ui-gmap-search-box>

                                <ui-gmap-marker ng-if="marker.coords.latitude && marker.coords.longitude"
                                                coords="marker.coords"
                                                idkey="marker.id"></ui-gmap-marker>
                            </ui-gmap-google-map>
                        </div>
                        <div id="adressInfo">
                            <p>{{NewUserAddress.address}}</p>
                            <p>{{NewUserAddress.zipcode}}</p>
                            <p>{{NewUserAddress.city}}</p>
                            <p>{{NewUserAddress.region}}</p>
                            <p>{{NewUserAddress.country}}</p>
                        </div>
                    </ng-form>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        {{ 'grab_create_grab_availability' | translate }}
                    </label>
                    <div class="clip-radio radio-primary">
                        <input type="radio" name="rightAway" id="available" ng-value="true" ng-model="rightAway">
                        <label for="available">
                            {{ 'grab_create_grab_rightAway' | translate }}
                        </label>
                        <input type="radio" name="rightAway" id="not-available" ng-value="false" ng-model="rightAway">
                        <label for="not-available">
                            {{ 'grab_create_grab_setDates' | translate }}
                        </label>
                    </div>
                </div>
                <div>
                    <div class="clearfix" ng-if="!rightAway">
                        <div class="form-group pull-left margin-right-10" ng-controller="DatepickerDemoCtrl">
                            <label class="control-label">
                                {{ 'grab_create_grab_date' | translate }}
                            </label>
                            <div>
                                <button type="button"
                                        class="btn btn-primary"
                                        uib-datepicker-popup="{{format}}"
                                        popup-placement="top-left"
                                        ng-model="NewGrabSchedule.date"
                                        min-date="minDate"
                                        max-date="maxDate"
                                        is-open="opened"
                                        datepicker-options="dateOptions"
                                        date-disabled="disabled(date, mode)"
                                        ng-required="true"
                                        close-text="Close"
                                        ng-click="open($event)">
                                    <i class="glyphicon glyphicon-calendar"></i> {{NewGrabSchedule.date | date:'MM/dd/yyyy' }}
                                </button>
                            </div>
                        </div>
                        <div class="form-group pull-left" style="margin-right:10px;">
                            <label class="control-label">
                                {{ 'grab_create_grab_time' | translate }}
                            </label>
                            <p>
                                <span class="btn-group">
                                    <span class="btn"
                                          ng-class="{'btn-primary ': NewGrabSchedule.time == 'morning', 'btn-default': NewGrabSchedule.time !== 'morning'}"
                                          ng-click="NewGrabSchedule.time = 'morning';">
                                        {{ 'grab_create_grab_time_morning' | translate }}
                                    </span>
                                    <span class="btn"
                                          ng-class="{'btn-primary ': NewGrabSchedule.time == 'afternoon', 'btn-default': NewGrabSchedule.time !== 'afternoon'}"
                                          ng-click="NewGrabSchedule.time = 'afternoon';">
                                        {{ 'grab_create_grab_time_afternoon' | translate }}
                                    </span>
                                    <span class="btn"
                                          ng-class="{'btn-primary ': NewGrabSchedule.time == 'evening', 'btn-default': NewGrabSchedule.time !== 'evening'}"
                                          ng-click="NewGrabSchedule.time = 'evening';">
                                        {{ 'grab_create_grab_time_night' | translate }}
                                    </span>
                                </span>
                            </p>
                        </div>
                        <div class="form-group pull-left" style="margin-right:10px;">
                            <label class="control-label">
                                {{ 'grab_create_grab_actions' | translate }}
                            </label>
                            <p>
                                <span class="btn-group">
                                    <span class="btn btn-primary" ng-click="addGrabSchedule()">{{ 'grab_create_grab_actions_save' | translate }}</span>
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="clearfix" ng-repeat="GrabSchedule in GrabSchedules">
                        <div class="form-group pull-left" style="margin-right:10px;">
                            <p>
								<span class="btn-group">
									<span class="btn btn-primary btn-o">
										<i class="glyphicon glyphicon-calendar"></i> {{GrabSchedule.date | date:'MM/dd/yyyy' }}
									</span>
								</span>
                            </p>
                        </div>
                        <div class="form-group pull-left" style="margin-right:10px;">
                            <p>
								<span class="btn-group">
									<span class="btn"
                                          ng-class="{'btn-primary ': GrabSchedule.time == 'morning', 'btn-default': GrabSchedule.time !== 'morning'}">
										{{ 'grab_create_grab_time_morning' | translate }}
									</span>
									<span class="btn"
                                          ng-class="{'btn-primary ': GrabSchedule.time == 'afternoon', 'btn-default': GrabSchedule.time !== 'afternoon'}">
										{{ 'grab_create_grab_time_afternoon' | translate }}
									</span>
									<span class="btn"
                                          ng-class="{'btn-primary ': GrabSchedule.time == 'evening', 'btn-default': GrabSchedule.time !== 'evening'}">
										{{ 'grab_create_grab_time_night' | translate }}
									</span>
								</span>
                            </p>
                        </div>
                        <div class="form-group pull-left" ng-if="!rightAway" style="margin-right:10px;">
                            <p>
								<span class="btn-group">
									<span class="btn btn-danger" ng-click="deleteGrabSchedule(GrabSchedule)">{{ 'grab_create_grab_actions_delete' | translate }}</span>
								</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="btn-group-justified">
                    <button type="submit"
                            ng-disabled="grabSubmitting"
                            class="btn btn-sm btn-wide btn-primary"
                            style="width: 33%;"
                            translate="grab_create_grab_actions_save">
                    </button>

                    <button type="button"
                            class="btn btn-sm btn-wide btn-danger"
                            style="width: 33%;"
                            ng-click="cancelCreateGrab()"
                            translate="grab_create_grab_actions_cancel">
                    </button>

                    <button type="submit"
                            ng-disabled="grabSubmitting"
                            class="btn btn-sm btn-wide btn-success"
                            style="width: 33%;"
                            ng-click="publishGrub()"
                            translate="grab_create_grab_actions_publish">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
