<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.pages.USERPROFILE">USER PROFILE</h1>
        </div>
    </div>
</section>

<div class="container-fluid container-fullw bg-white" ng-controller="GrabberSettingsProfileCtrl">
    <div class="row">
        <div class="col-md-12" ng-include="'./assets/views/partials/profile-menu.html'"></div>
        <div class="col-md-12">
            <form name="grabberProfileForm" class="form-login" ng-submit="submitGrabberProfileForm($event)" novalidate>
                <fieldset>
                    <legend>
                        {{ 'grabber_profile_info' | translate }}
                    </legend>
                    <div class="row">
                        <div class="col-sm-10 col-md-12">
                            <div class="form-group">
                                <label>
                                    {{ 'grab_types' | translate }}
                                </label>
                                <div>
                                    <div class="btn-group">
                                        <label class="btn"
                                               ng-class="{'btn-primary ': Profile.grab, 'btn-default': !Profile.grab}"
                                               btn-checkbox-true="1"
                                               btn-checkbox-false="0"
                                               ng-model="Profile.grab"
                                               uib-btn-checkbox>
                                            {{ 'grabee_dashboard_grab' | translate }}
                                        </label>
                                        <label class="btn"
                                               ng-class="{'btn-primary ': Profile.container, 'btn-default': !Profile.container}"
                                               btn-checkbox-true="1"
                                               btn-checkbox-false="0"
                                               ng-model="Profile.container"
                                               uib-btn-checkbox>
                                            {{ 'grabee_dashboard_container' | translate }}
                                        </label>
                                        <label class="btn"
                                               ng-class="{'btn-primary ': Profile.pickup, 'btn-default': !Profile.pickup}"
                                               btn-checkbox-true="1"
                                               btn-checkbox-false="0"
                                               ng-model="Profile.pickup"
                                               uib-btn-checkbox>
                                            {{ 'grabee_dashboard_pickup' | translate }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    {{ 'select_categories' | translate }}
                                </label>
                                <ui-select multiple
                                           sortable="true"
                                           ng-model="Config.SelectedCategories"
                                           theme="bootstrap"
                                           class="form-control"
                                           title="Choose category">
                                    <ui-select-match placeholder="Select">
                                        {{$item.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="category in (Config.Categories | filter: {sub_category: 0} | filter: $select.search) track by category.ID">
                                        <div ng-bind-html="category.name | highlight: $select.search"></div>
                                        <small ng-bind-html="category.name | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group" ng-if="Config.SelectedCategories.length > 0">
                                <label>
                                    {{ 'select_sub_categories' | translate }}
                                </label>
                                <ui-select multiple
                                           sortable="true"
                                           ng-model="Config.SelectedSubCategories"
                                           theme="bootstrap"
                                           class="form-control"
                                           title="Choose category">
                                    <ui-select-match placeholder="Select">
                                        {{$item.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="category in (Config.Categories | filter: filterBySelectedCategory | filter: $select.search) track by category.ID">
                                        <div ng-bind-html="category.name | highlight: $select.search"></div>
                                        <small ng-bind-html="category.name | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group">
                                <label>
                                    {{ 'grabee_grabber_placement' | translate }}
                                </label>
                                <div>
                                    <div class="btn-group">
                                        <label class="btn"
                                               ng-class="{'btn-primary ': Profile.curbside, 'btn-default': !Profile.curbside}"
                                               btn-checkbox-true="1"
                                               btn-checkbox-false="0"
                                               ng-model="Profile.curbside"
                                               uib-btn-checkbox>
                                            {{ 'grabee_grabber_curbside' | translate }}
                                        </label>
                                        <label class="btn"
                                               ng-class="{'btn-primary ': Profile.carryOut, 'btn-default': !Profile.carryOut}"
                                               btn-checkbox-true="1"
                                               btn-checkbox-false="0"
                                               ng-model="Profile.carryOut"
                                               uib-btn-checkbox>
                                            {{ 'grabee_grabber_carry_out' | translate }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    {{ 'select_service_areas' | translate }}
                                </label>
                                <ui-select multiple
                                           sortable="true"
                                           ng-model="Config.SelectedServiceAreas"
                                           theme="bootstrap"
                                           class="form-control"
                                           title="Choose category">
                                    <ui-select-match placeholder="Select">
                                        {{$item.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="serviceArea in (Config.ServiceAreas | filter: $select.search) track by serviceArea.ID">
                                        <div ng-bind-html="serviceArea.name | highlight: $select.search"></div>
                                        <small ng-bind-html="serviceArea.name | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group" ng-class="{'has-error': !grabberProfileForm.vehicle_type.$valid && !grabberProfileForm.vehicle_type.$pristine}">
                                <label>
                                    {{ 'vehicle_type' | translate }}
                                </label>

                                <ui-select ng-model="Config.SelectedVehicleType" name="vehicle_type" ng-required="true">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="vehicleType in (Config.VehicleTypes | filter: $select.search) track by vehicleType.ID">
                                        <span ng-bind="vehicleType.name"></span>
                                    </ui-select-choices>
                                </ui-select>

                                <p ng-show="grabberProfileForm.vehicle_type.$error.required && !grabberProfileForm.vehicle_type.$pristine" class="help-block">{{ 'grab_update_grab_profile_vehicle_required' | translate }}</p>
                            </div>
                            <div class="form-group">
                                <label>
                                    {{ 'missed_pickup_flat_rate' | translate }}
                                </label>
                                <div class="input-group" style="max-width: 122px;">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" ng-model="Profile.flatRate" name="flat_rate">
                                    <span class="input-group-addon">.00</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    {{ 'grab_create_grab_description' | translate }}
                                </label>
                                <textarea
                                        ng-model="Profile.description"
                                        class="form-control autosize area-animated"
                                        style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 40px;">
                                </textarea>
                            </div>
                            <div class="form-group">
                                <label>
                                    {{ 'grab_published_availability' | translate }}
                                </label>
                                <table class="table table-condensed">
                                    <tbody>
                                    <tr ng-repeat="availabilityItem in Config.GrabberAvailabilities">
                                        <td width="34%">
                                            {{ availabilityItem.day | translate }}
                                        </td>
                                        <td width="66%">
                                            <div class="btn-group pull-right">
                                                <label class="btn"
                                                       ng-class="{'btn-primary ': availabilityItem.morning, 'btn-default': !availabilityItem.morning}"
                                                       ng-model="availabilityItem.morning"
                                                       uib-btn-checkbox>
                                                    {{ 'grab_create_grab_time_morning' | translate }}
                                                </label>
                                                <label class="btn"
                                                       ng-class="{'btn-primary ': availabilityItem.afternoon, 'btn-default': !availabilityItem.afternoon}"
                                                       ng-model="availabilityItem.afternoon"
                                                       uib-btn-checkbox>
                                                    {{ 'grab_create_grab_time_afternoon' | translate }}
                                                </label>
                                                <label class="btn"
                                                       ng-class="{'btn-primary ': availabilityItem.evening, 'btn-default': !availabilityItem.evening}"
                                                       ng-model="availabilityItem.evening"
                                                       uib-btn-checkbox>
                                                    {{ 'grab_create_grab_time_night' | translate }}
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-actions">
                                <button type="submit"
                                        ladda="isSubmitting"
                                        class="btn btn-primary btn-wide pull-left" ng-disabled="!grabberProfileForm.$valid">
                                    {{ 'grab_create_grab_actions_save' | translate }} <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
