<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.pages.USERPROFILE">USER PROFILE</h1>
        </div>
    </div>
</section>

<div class="container-fluid container-fullw bg-white" ng-controller="GrabeeSettingsPaymentsCtrl">
    <div class="row">
        <div class="col-md-12" ng-include="'./assets/views/partials/profile-menu.html'"></div>
        <div class="col-md-12">
            <table class="table table-striped table-hover" id="sample-table-2">
                <thead>
                <tr>
                    <th class="center">{{ 'payment_card' | translate }}</th>
                    <th>{{ 'payment_number' | translate }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="Payment in Payments">
                    <td class="center"><img ng-src="{{Payment.imageUrl}}" width="60px" class="img-rounded" alt="image">
                    </td>
                    <td>**** **** **** {{Payment.last4}}</td>
                    <td class="center">
                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                            <a href="#" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top"
                               uib-tooltip="Remove" ng-click="deletePayment(Payment)"><i class="fa fa-times fa fa-white"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" ng-click="openAddCardModal()">{{ 'payment_addcard' | translate }}</button>
        </div>
    </div>
</div>