<div class="terms-modal-container">
    <h2>Déclaration de confidentialité</h2>
    <div >
    <h4>DÉPARTEMENT JURIDIQUE, WE GRAB IT INC</h4>
<p>Dernière mise à jour : le 20 mai 2016</p>

<br>
<p>
Département Juridique
<br>
DÉCLARATION DE CONFIDENTIALITÉ
<br>
Date d’entrée en vigueur : le 20 mai 2016
<br>
</p>
<br>
We Grab It inc. ou toute filiale ou société affiliée (collectivement, « GRAB ») recueille des renseignements vous concernant lorsque vous utilisez ses applications mobiles, sites Web et autres produits et services en ligne (collectivement, les « Services ») et via d’autres interactions et communications entre vous et Grab. Cette déclaration de confidentialité s’applique aux renseignements recueillis et utilisés par GRAB.
<br><br>
Portée et Application
<br><br>
Cette déclaration de confidentialité (« Déclaration ») s’applique aux personnes, partout dans le monde, qui utilisent nos applications ou services afin de faire la requête ou d’effectuer un transport, une livraison, ou autres services sur demande (collectivement un « Grab »).
<br>
Si vous interagissez avec les Services à la fois comme Utilisateur et comme Grabber (transporteur), les déclarations de confidentialité correspondantes s’appliquent à vos différentes interactions.
<br><br>
Collecte de Renseignements
<br><br>
Les Renseignements que Vous Nous Fournissez
<br><br>
Nous recueillons les renseignements que vous nous fournissez directement : lorsque vous créez ou modifiez votre compte, faites la requête de services sur demande, contactez le soutien à la clientèle, consentez à la vérification des antécédents ou tout autre type de communication avec nous. Ces renseignements peuvent inclure, sans être limitées au nom, à l’adresse électronique, au numéro de téléphone, à l’adresse postale, à la photo de profil, aux renseignements de paiement, aux articles demandés (pour les services de livraison), aux bons de livraison, et aux autres renseignements que vous choisissez de fournir.
<br><br>
Les Renseignements que Nous Recueillons à Travers Votre Utilisation de Nos Services
<br><br>
Lorsque vous utilisez nos services, nous recueillons des renseignements vous concernant dans les catégories générales suivantes :
<br><br>
	•	Informations sur l’Emplacement : Lorsque vous utilisez les services de transport ou de livraison, nous recueillons des données de localisation précises, à partir de l'application Grab utilisée par le Grabber, au sujet du transport. Si vous autorisez l'application Grab, à travers le système d'autorisations utilisé par votre système d'exploitation mobile ( « plate-forme ») à accéder aux services de localisation, nous pourrions également recueillir l'emplacement précis de votre dispositif lorsque l'application est en cours d’exécution, en premier ou en arrière-plan. Nous pourrions également déterminer votre emplacement approximatif à partir de votre adresse IP.
<br><br>
	•	Informations sur les Contacts : Si vous autorisez l'application Grab à accéder au carnet d'adresses de votre dispositif, via le système d'autorisations utilisé par votre plate-forme mobile, nous pourrions accéder et sauvegarder les noms et coordonnées de votre carnet d'adresses, afin de faciliter les interactions sociales par le biais de nos Services et à d’autres fins décrites dans la présente Déclaration, ou au moment du consentement ou de la collecte.
<br><br>
	•	Renseignements sur les Transactions : Nous recueillons les détails de transaction liés à l’utilisation de nos Services, y compris le type de service demandé, la date et l’heure auxquelles le service a été fourni, le montant facturé, la distance parcourue, et d’autres détails de transaction connexes. De plus, si quelqu'un utilise votre code promo, nous pourrions associer votre nom à cette personne.
<br><br>
	•	Renseignements sur l’Utilisation et les Préférences : Nous recueillons des renseignements sur les façons dont vous et les visiteurs du site interagissez avec nos Services ; vos préférences exprimées et paramètres choisis. Dans certains cas, nous accomplissons cela à l’aide de témoins informatiques (cookies), de balises de pixels, et de technologies similaires qui créent et maintiennent des identificateurs uniques. 
<br><br>
	•	Renseignements sur le Dispositif : Nous pourrions recueillir des renseignements à propos de votre dispositif mobile, tel que, par exemple, le modèle du matériel, le système d'exploitation et la version, les logiciels et noms de fichiers et versions, votre langue préférée, l’identificateur de dispositif unique, les identificateurs de publicité, le numéro de série, de l’information sur le mouvement du dispositif et de l’information à propos du réseau mobile.
<br><br>
	•	Données d’Appel et de SMS : Nos services facilitent les communications entre les Utilisateurs et les Grabbers. Dans le cadre de ce service, nous recevons des données d'appel, y compris la date et l’heure de l'appel ou du message SMS, le numéro de téléphone des parties, et le contenu du message SMS.
<br><br>
	•	Renseignements du Journal : Lorsque vous interagissez avec les Services, nous recueillons des fichiers journaux des serveurs, qui peuvent inclure des renseignements tels que l’adresse IP de votre dispositif, les dates et les temps d’accès, les caractéristiques des applications ou des pages vues, les blocages d’applications et autres activités du système, le type de navigateur et le site ou service tiers que vous utilisiez avant d’interagir avec nos Services.

<br><br>
Renseignements importants Concernant les Autorisations de la Plate-forme
<br><br>

La plupart des plates-formes mobiles (iOS, Android, etc.) ont déterminé certains types de données du dispositif auxquelles les applications ne peuvent accéder sans votre consentement. Ces plates-formes ont des systèmes d'autorisations différents pour obtenir votre consentement. La plate-forme iOS vous alertera la première fois que l’application Grab demande l’autorisation d'accéder à certains types de données, et vous permettra de consentir (ou pas) à cette demande. Les dispositifs Android vous informeront des autorisations que l'application Grab demande avant la première exécution de l'application, et le fait d’utiliser l'application représente votre consentement. 
<br><br>
Renseignements que Nous Recueillons à Partir d’Autres Sources
<br><br>
Nous pourrions également recevoir des renseignements provenant d’autres sources et les combiner avec les renseignements que nous recueillons à travers nos Services. Par exemple :
<br><br>
	•	Si vous choisissez de relier, créer, ou de vous connecter à votre compte Grab avec un prestataire de paiement (Google Wallet, par exemple) ou un service de médias sociaux (Facebook, par exemple), ou si vous vous connectez à une application ou un site Web distinct utilisant notre API (ou vice versa), nous pourrions recevoir des renseignements sur vous ou à propos de vos connexions à partir de ce site ou application.

<br><br>
	•	Si votre employeur utilise l’une de nos solutions d'entreprise, tels que Grab pour Affaires, nous pourrions recevoir des renseignements à votre sujet via votre employeur.
<br><br>
	•	Lorsque vous utilisez nos Services, après l'interaction, chaque partie peut nous fournir son évaluation de l’autre partie.

<br><br>
	•	Si vous interagissez avec nos services à un autre titre, par exemple en tant que Grabber ou Utilisateur d'autres applications que nous offrons, nous pourrions combiner ou associer ces renseignements avec les renseignements que nous avons recueillis auprès de vous, en tant qu'Utilisateur ou Grabber.
<br><br>
L’Utilisation des Renseignements
<br><br>
Nous pourrions utiliser les renseignements que nous recueillons à votre sujet afin de :
<br><br>
	•	Fournir, maintenir et améliorer nos Services, y compris, par exemple, pour faciliter les paiements, envoyer des reçus, offrir des produits et services que vous demandez (et envoyer des renseignements connexes), développer de nouvelles fonctionnalités, fournir du soutien à la clientèle pour les Utilisateurs et les Grabbers, développer des fonctionnalités de sécurité, d’authentification des utilisateurs, envoyer les mises à jour des produits et des messages administratifs ;
<br><br>
	•	Effectuer des opérations internes, y compris, par exemple, pour prévenir la fraude et l’abus de nos Services ; pour résoudre les bogues logiciels et problèmes opérationnels ; pour procéder à l’analyse, test et recherche des données ; et pour surveiller et analyser les tendances d'utilisation et d’activité ;
<br><br>
	•	Envoyer ou faciliter les communications (i) entre un Utilisateur et un Grabber, tel que le temps estimé d'arrivée, ou (ii) entre vous et un de vos contact, à votre demande, en lient avec votre utilisation de certaines fonctionnalités, telles que références, invitations, ou partage de temps estimé d’arrivée ;
<br><br>
	•	Vous envoyer des communications que nous estimons être intéressantes pour vous, y compris des renseignements sur des produits, services, promotions, nouvelles et événements de Grab et autres entreprises, si autorisé et conformément aux lois applicables locales ; et pour mener des concours, loteries, ou autres promotions et afin de satisfaire toute récompense qui s’y rattache ;
<br><br>
	•	Personnaliser et améliorer les Services, y compris pour offrir ou recommander des caractéristiques, du contenu, des liens sociaux, des références et publicités.
<br><br>
Nous pourrions transférer les renseignements décrits dans le présent document, les traiter et les stocker aux États-Unis et dans d’autres pays, dont certains peuvent avoir des lois sur la protection des données moins étendues que celles en vigueur dans votre pays de résidence. Si tel est le cas, nous prendrons les mesures appropriées afin de protéger vos renseignements personnels, conformément à la présente Déclaration.
<br><br>
Partage de Renseignements
<br><br>
Nous pourrions partager les renseignements que nous recueillons à votre sujet, tel que décrit dans le présent document, ou comme décrit au moment de la collecte ou du partage, y compris des manières suivantes :
<br><br>
À travers nos Services, nous pourrions partager les renseignements :
<br><br>
	•	Avec les Grabbers, afin de leur permettre d’offrir des Services selon la demande de l’Utilisateur. Par exemple, nous partageons avec les Grabbers votre nom et votre photo (si vous en avez téléchargée une), la note moyenne de l’Utilisateur telle que déterminée par les Grabbers, ainsi que l’emplacement de collecte et les points de dépôt ;
<br><br>
•	Avec les Utilisateurs, en lien avec leur demande de Grabs, ou autres Services. Par exemple, nous pourrions partager votre nom, votre photo personnelle, photo du véhicule, immatriculation du véhicule, marque de véhicule et modèle, emplacement précis ou approximatif, note moyenne fournie par les Utilisateurs, ainsi que certaines coordonnées (selon votre emplacement et les lois applicables). Après avoir fourni les services demandés, nous enverrons à l'Utilisateur un reçu par courriel ou par un autre canal de communication. Les renseignements inclus dans ce reçu comprennent la répartition des montants facturés, votre nom, vos coordonnées, photo et autres détails de la transaction.
<br><br>
	•	Avec d‘autres personnes, selon vos directives, en lien avec un service, une promotion, ou une offre spécifique ; avec des tiers afin de vous offrir un service demandé via un partenariat ; une offre promotionnelle venant de nous-mêmes, ou d’un tiers ;
<br><br>
	•	Avec le grand public, si vous soumettez du contenu dans un forum public, tels que des billets de blog, des messages dans les médias sociaux, ou autres fonctions de nos Services qui sont visibles par le grand public ;
<br><br>
	•	Avec des tiers avec qui vous choisissez de nous permettre de partager de l’information. Par exemple, d’autres applications ou sites Web qui sont intégrés à notre API ou à nos Services, ou ceux avec un API ou service dans lequel nous sommes intégrés ; et
<br><br>
	•	Avec votre employeur (ou entité similaire) et avec toute tierce partie engagée par nous, ou par votre employeur (par exemple, un prestataire de gestion de dépenses), si vous participez à l’une de nos solutions d'affaires, telle que Grab pour Affaires.
<br><br>
Autre Partage Important
<br><br>
Nous pourrions partager vos renseignements :
<br><br>
	•	Avec des tiers qui fournissent des services ou qui mènent le traitement des données en notre nom, ou à des fins de centralisation et de logistique des données ;
<br><br>
	•	Avec des fournisseurs, consultants, partenaires de marketing, et autres fournisseurs de services qui ont besoin d‘accéder à ces renseignements pour effectuer des tâches en notre nom ;
<br><br>
	•	En réponse à une demande de renseignements par une autorité compétente, si nous estimons que la divulgation est en conformité avec, voire exigée par toute loi, règlement ou procédure judiciaire applicable ;
<br><br>
	•	Avec les responsables de l’application des lois, les autorités gouvernementales, ou autres tiers, si nous croyons que vos actions sont incompatibles avec notre Déclaration de Confidentialité, nos Conditions Générales ou politiques, ou afin de protéger les droits, la propriété ou la sécurité de Grab ou d’autres entités / personnes ;
<br><br>
	•	En lien avec, ou au cours des négociations de toute fusion, vente d'actifs de l’entreprise, consolidation ou restructuration, financement ou acquisition partielle ou totale d’une partie de nos activités par, ou à l’intérieur d’une autre entreprise ;
<br><br>
	•	Si nous vous avisons et que vous consentez au partage ; et
<br><br>
	•	De forme agrégée et anonymisée, qui ne peut raisonnablement être utilisée pour vous identifier.
<br><br>v<br>
Caractéristiques du Partage Social 
<br><br>
Les Services peuvent intégrer des fonctionnalités de partage social et d’autres outils connexes qui vous permettent de partager les actions que vous effectuez avec nos Services et avec d’autres applications, sites, ou médias, et vice versa. Votre utilisation de ces fonctionnalités permet le partage des renseignements avec vos amis ou le public, selon les paramètres que vous déterminez avec le service de partage social.
<br><br>
Veuillez vous reporter aux politiques de confidentialité de ces services de partage social pour obtenir plus d’informations sur la façon dont ils traitent les données qui leur sont fournies ou partagées.
<br><br>
Statistiques et Services de Publicité Offerts par d’Autres
<br><br>
Nous pourrions permettre aux autres de nous fournir des mesures d'audience et des services d'analyse, pour livrer des publicités en notre nom sur l'Internet, et de suivre et d’évaluer les performances de ces publicités. Ces entités pourraient utiliser des témoins informatiques, des balises Web, des SDK, et d’autres technologies afin d’identifier votre dispositif, lorsque vous consultez notre site et que vous utilisez nos services, ainsi que lorsque vous consultez d’autres sites et services en ligne. 
<br><br>
Vos choix
<br><br>
Renseignements du Compte
<br><br>
Vous pouvez réviser les renseignements relatifs à votre compte en tout temps, en vous connectant à votre compte en ligne ou à travers l’application. Si vous souhaitez annuler votre compte, veuillez nous écrire à info@we-grab-it.com
<br><br>
Veuillez noter que dans certains cas, nous pourrions conserver certains renseignements vous concernant conformément aux lois en vigueur, ou à des fins commerciales et légitimes, dans la mesure permise par la loi. Par exemple, si vous avez un crédit permanent ou une dette dans votre compte, ou si nous pensons que vous avez commis une fraude ou une violation de nos Conditions, nous pourrions chercher à résoudre le problème avant de supprimer vos renseignements.
<br><br>
Droits d’Accès
<br><br>
Grab se conformera aux demandes individuelles relatives à l’accès et la correction des données personnelles qu'il stocke, en conformité avec la loi applicable. Pour plus de précision, vous pouvez supprimer, corriger ou modifier les données personnelles dans votre compte, conformément à la législation en vigueur, le tout sans limiter le droit de Grab à stocker et à utiliser les données faisant partie du contenu de l’utilisateur ou le contenu du Grabber, en conformité avec, et tel que défini dans les Conditions Générales.
<br><br>
Renseignements sur l’Emplacement
<br><br>
À travers le système d'autorisations utilisé par votre système d'exploitation mobile, notre application demande l’autorisation de localiser votre dispositif avec précision. Si vous permettez initialement la collecte de ces renseignements, vous pouvez ensuite la désactiver en modifiant les paramètres de localisation de votre dispositif mobile. Cependant, cela va limiter votre capacité à utiliser certaines fonctionnalités de nos Services. De plus, la désactivation de la localisation précise de votre dispositif par notre application ne limitera pas notre capacité à recueillir des renseignements de localisation à partir du dispositif d'un autre parti, ni notre capacité à déterminer votre emplacement approximatif à partir de votre adresse IP.
<br><br>
Consentement pour les Services de Localisation
Par la présente, vous consentez expressément à ce que Grab utilise des services de localisation, et vous renoncez et libérez expressément Grab de toute responsabilité, réclamation, cause d'action ou dommage résultant de votre utilisation des Services Grab, ou de quelque façon reliée à la localisation de l’emplacement précis, ou basés sur des services de localisation.
<br><br>

Renseignements sur les Contacts
<br><br>
Nous pourrions également demander la permission que notre application puisse recueillir et synchroniser les contacts de votre dispositif à travers le système d'autorisations utilisé par votre système d'exploitation mobile. Si vous permettez initialement la collecte de ces renseignements, les utilisateurs iOS peuvent ensuite la désactiver en modifiant les paramètres de contacts du dispositif mobile. La plate-forme Android n’offre pas un tel réglage.
<br><br>
Communications Promotionnelles
<br><br>
Vous pouvez choisir de cesser de recevoir nos messages promotionnels en suivant les instructions incluent dans ces derniers. Après avoir suivi ces étapes, nous pourrions encore vous envoyer des messages non-promotionnels, en lien avec votre compte, avec des Services que vous avez demandés, ou au sujet de nos relations d'affaires en cours.

<br><br>
Modifications de la Déclaration
<br><br>
De temps à autre, nous pourrions modifier la présente Déclaration. Si nous effectuons des changements significatifs dans la façon dont nous traitons vos renseignements personnels, ou à la déclaration, nous vous fournirons un préavis à travers des Services ou par d'autres moyens, tels que par courriel. Votre utilisation continue des Services après un tel avis représente votre consentement aux changements. Nous vous encourageons à consulter régulièrement la Déclaration afin d’être au courant des dernières informations liées à nos pratiques de confidentialité.
<br><br>
Contactez-nous
<br><br>
Si vous avez des questions à propos de cette Déclaration de Confidentialité, veuillez nous contacter à info@we-grab-it.com, ou écrivez-nous à We Grab It inc., Attn : Département Juridique, 7240 rue Waverly, Montréal, H2R 2Y8
