<div class="terms-modal-container">
    <h2>Privacy statement</h2>
    <div >
    <h4>PRIVACY STATEMENT</h4>
<p>Last Updated: May 20, 2016</p>

<br>
<p>
<br>
PRIVACY STATEMENT
<br>
Last Updated: May 20, 2016
<br>
</p>
<br>
We grab it Inc. or any of its subsidiaries or affiliates (collectively, "GRAB") collects information about you when you use its mobile applications, websites, and other online products and services (collectively, the “Services”) and through other interactions and communications you have with Grab.  This Privacy Statement applies to information collected and used by GRAB.
<br><br>
Scope and Application
<br><br>
This Privacy Statement (“Statement") applies to persons anywhere in the world who use our apps or Services to request or do transportation, delivery, or other on-demand services (collectively a “Grab”). 
<br>
If you interact with the Services as both a User and a Grabber, the respective privacy statements apply to your different interactions.
<br><br>
Collection of Information
<br><br>
Information You Provide to Us
<br><br>
We collect information you provide directly to us, such as when you create or modify your account, request on-demand services, contact customer support, consent to background check or otherwise communicate with us. This information may include, without limitation: name, email, phone number, postal address, profile picture, payment information, items requested (for delivery services), delivery notes, and other information you choose to provide.
<br><br>
Information We Collect Through Your Use of Our Services
<br><br>
When you use our Services, we collect information about you in the following general categories:
<br><br>
	•	Location Information: When using the Services for transportation or delivery, we collect precise location data about the trip from the Grab app used by the Grabber. If you permit the Grab app to access location services through the permission system used by your mobile operating system (“platform”), we may also collect the precise location of your device when the app is running in the foreground or background. We may also derive your approximate location from your IP address.
<br><br>
	•	Contacts Information: If you permit the Grab app to access the address book on your device through the permission system used by your mobile platform, we may access and store names and contact information from your address book to facilitate social interactions through our Services and for other purposes described in this Statement or at the time of consent or collection.
<br><br>
	•	Transaction Information: We collect transaction details related to your use of our Services, including the type of service requested, date and time the service was provided, amount charged, distance traveled, and other related transaction details. Additionally, if someone uses your promo code, we may associate your name with that person
<br><br>
	•	Usage and Preference Information: We collect information about how you and site visitors interact with our Services, preferences expressed, and settings chosen. In some cases we do this through the use of cookies, pixel tags, and similar technologies that create and maintain unique identifiers 
<br><br>
	•	Device Information: We may collect information about your mobile device, including, for example, the hardware model, operating system and version, software and file names and versions, preferred language, unique device identifier, advertising identifiers, serial number, device motion information, and mobile network information.
<br><br>
	•	Call and SMS Data : Our Services facilitate communications between Users and Grabbers. In connection with facilitating this service, we receive call data, including the date and time of the call or SMS message, the parties’ phone numbers, and the content of the SMS message.
<br><br>
	•	Log Information: When you interact with the Services, we collect server logs, which may include information like device IP address, access dates and times, app features or pages viewed, app crashes and other system activity, type of browser, and the third-party site or service you were using before interacting with our Services.

<br><br>
Important Information About Platform Permissions
<br><br>
Most mobile platforms (iOS, Android, etc.) have defined certain types of device data that apps cannot access without your consent. And these platforms have different permission systems for obtaining your consent. The iOS platform will alert you the first time the Grab app wants permission to access certain types of data and will let you consent (or not consent) to that request. Android devices will notify you of the permissions that the Grab app seeks before you first use the app, and your use of the app constitutes your consent.  
<br><br>
Information We Collect From Other Sources
<br><br>
We may also receive information from other sources and combine that with information we collect through our Services. For example:
<br><br>
	•	If you choose to link, create, or log in to your Grab account with a payment provider (e.g., Google Wallet) or social media service (e.g., Facebook), or if you engage with a separate app or website that uses our API (or whose API we use), we may receive information about you or your connections from that site or app.

<br><br>
	•	If your employer uses one of our enterprise solutions, such as Grab for Business, we may receive information about you from your employer.
<br><br>
	•	When using our Services, each parties may provide us with a rating of the other parties after the interaction. 

<br><br>
	•	If you also interact with our Services in another capacity, for instance as a Grabber or User of other apps we provide, we may combine or associate that information with information we have collected from you in your capacity as a User or Grabber.
<br><br>
Use of Information
<br><br>
We may use the information we collect about you to:
<br><br>
	•	Provide, maintain, and improve our Services, including, for example, to facilitate payments, send receipts, provide products and services you request (and send related information), develop new features, provide customer support to Users and Grabbers, develop safety features, authenticate users, and send product updates and administrative messages;
<br><br>
	•	Perform internal operations, including, for example, to prevent fraud and abuse of our Services; to troubleshoot software bugs and operational problems; to conduct data analysis, testing, and research; and to monitor and analyze usage and activity trends;
<br><br>
	•	Send or facilitate communications (i) between a User and a Grabber, such as estimated times of arrival (ETAs), or (ii) between you and a contact of yours at your direction in connection with your use of certain features, such as referrals, invites, or ETA sharing;
<br><br>
	•	Send you communications we think will be of interest to you, including information about products, services, promotions, news, and events of Grab and other companies, where permissible and according to local applicable laws; and to process contest, sweepstake, or other promotion entries and fulfill any related awards;
<br><br>
	•	Personalize and improve the Services, including to provide or recommend features, content, social connections, referrals, and advertisements.
<br><br>
We may transfer the information described in this Statement to, and process and store it in, the United States and other countries, some of which may have less protective data protection laws than the region in which you reside. Where this is the case, we will take appropriate measures to protect your personal information in accordance with this Statement.
<br><br>
Sharing of Information
<br><br>
We may share the information we collect about you as described in this Statement or as described at the time of collection or sharing, including as follows:
<br><br>
Through Our Services we may share information:
<br><br>
	•	With Grabbers to enable them to provide the Services the User request. For example, we share your name, photo (if one was provide), average User rating given by Grabbers, and pickup and/or drop-off locations with Grabbers; 
<br><br>
•	•	With Users in connection with their request for Grabs or other services. For instance we may share your name, personal photo, vehicle photo, vehicle license, vehicle make and model, precise or approximate location, average rating provided by Users, and certain contact information (depending upon your location and applicable laws). After you have provided the requested services, we will send the User a receipt via e-mail or other means which may include the breakdown of amounts charged, your name, contact information, photo and other transaction details.
<br><br>
	•	With other people, as directed by you, in connection with a particular service, offering or promotion; or with third parties to provide you a service you requested through a partnership or promotional offering made by a third party or us;
<br><br>
	•	With the general public if you submit content in a public forum, such as blog comments, social media posts, or other features of our Services that are viewable by the general public;
<br><br>
	•	With third parties with whom you choose to let us share information, for example other apps or websites that integrate with our API or Services, or those with an API or Service with which we integrate; and
<br><br>
	•	With your employer (or similar entity) and any necessary third parties engaged by us or your employer (e.g., an expense management service provider), if you participate in any of our enterprise solutions such as Grab for Business
<br><br>
Other Important Sharing
<br><br>
We may share your information:
<br><br>
	•	With third parties that provide services or conduct data processing on our behalf, or for data centralization and / or logistics purposes;
<br><br>
	•	With vendors, consultants, marketing partners, and other service providers who need access to such information to carry out work on our behalf;
<br><br>
	•	In response to a request for information by a competent authority if we believe disclosure is in accordance with, or is otherwise required by, any applicable law, regulation, or legal process;
<br><br>
	•	With law enforcement officials, government authorities, or other third parties if we believe your actions are inconsistent with our Privacy Statement, Terms and Conditions, or policies, or to protect the rights, property, or safety of Grab or others;
<br><br>
	•	In connection with, or during negotiations of, any merger, sale of company assets, consolidation or restructuring, financing, or acquisition of all or a portion of our business by or into another company;
<br><br>
	•	If we otherwise notify you and you consent to the sharing; and
<br><br>
	•	In an aggregated and/or anonymized form which cannot reasonably be used to identify you.
<br><br>v<br>
Social Sharing Features
<br><br>
The Services may integrate with social sharing features and other related tools which let you share actions you take on our Services with other apps, sites, or media, and vice versa. Your use of such features enables the sharing of information with your friends or the public, depending on the settings you establish with the social sharing service. 
<br><br>
Please refer to the privacy policies of those social sharing services for more information about how they handle the data you provide to or share through 
<br><br>
Analytics and Advertising Services Provided by Others
<br><br>
We may allow others to provide audience measurement and analytics services for us, to serve advertisements on our behalf across the Internet, and to track and report on the performance of those advertisements. These entities may use cookies, web beacons, SDKs, and other technologies to identify your device when you visit our site and use our Services, as well as when you visit other online sites and services. 
<br><br>
Your Choices
<br><br>
Account Information
<br><br>
You may correct your account information at any time by logging into your online or in-app account. If you wish to cancel your account, please email us at info@we-grab-it.com
<br><br>
Please note that in some cases we may retain certain information about you as required by law, or for legitimate business purposes to the extent permitted by law. For instance, if you have a standing credit or debt on your account, or if we believe you have committed fraud or violated our Terms, we may seek to resolve the issue before deleting your information.
<br><br>
Access Rights
<br><br>
Grab will comply with individual’s requests regarding access and correction of the personal data it stores in accordance with applicable law. For greater precision, you may delete, correct or modify personal data from your account in accordance with applicable law, the whole without limiting the right of Grab to stock and use the data forming part of the User Content or Grabber Content in conformity with and as defined in the Terms and Conditions.
<br><br>
Location Information
<br><br>
We request permission for our app’s collection of precise location from your device per the permission system used by your mobile operating system. If you initially permit the collection of this information, you can later disable it by changing the location settings on your mobile device. However, this will limit your ability to use certain features of our Services. Additionally, disabling our app’s collection of precise location from your device will not limit our ability to collect your trip location information from an other partie's device nor our ability to derive approximate location from your IP address.
<br><br>
Location-Based Services Consent
<br><br>
You hereby expressly consent to Grab’s use of location-based services and expressly waive and release Grab from any and all liability, claims, causes of action or damages arising from your use of the Grab Services, or in any way relating to the use of the precise location and other location-based services.
<br><br>

Contact Information
<br><br>
We may also seek permission for our app’s collection and syncing of contact information from your device per the permission system used by your mobile operating system. If you initially permit the collection of this information, iOS users can later disable it by changing the contacts settings on your mobile device. The Android platform does not provide such a setting.
<br><br>
Promotional Communications
<br><br>
You may opt out of receiving promotional messages from us by following the instructions in those messages. If you opt out, we may still send you non-promotional communications, such as those about your account, about Services you have requested, or our ongoing business relations.

<br><br>
Changes to the Statement
<br><br>
We may change this Statement from time to time. If we make significant changes in the way we treat your personal information, or to the Statement, we will provide you notice through the Services or by some other means, such as email. Your continued use of the Services after such notice constitutes your consent to the changes. We encourage you to periodically review the Statement for the latest information on our privacy practices.
<br><br>
Contact Us
<br><br>
If you have any questions about this Privacy Statement, please contact us at info@we-grab-it.com, or write us at We Grab it inc., Attn: Legal, 7240 Waverly street, Montreal, H2R 2Y8
 
